.comments {
    margin-top: 20px;
}

.comment {

    background: var(--cinza-classificados);
    border-radius: 4px;
    margin: 10px 0;
    padding: 15px 10px;
}

.comment-content {
    margin-top: 15px;
}