.main-new {
    padding: 0 15px;
}

.post {
    margin-bottom: 20px;
}

.post-title {
    color: var(--azul-escuro);
    margin-bottom: 10px;
}

.post-meta {
    color: var(--cinza-escuro);
}

a.post-meta--link {
    color: #000;
    text-decoration: underline;
}

.posts {
    margin-top: 20px;

    >h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
}